section#news {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			clear: both;
			margin: 0 0 1em;
			&::before {
				// content: '';
				// background-image: url("../images/oval.png");
				// background-repeat: no-repeat;
				// background-size: 14px;
				// float: left;
				// height: 14px;
				// width: 14px;
				// margin: 6px 20px 0 0;
				// display: inline-block;
			}
			span {
				display: block;
				float: left;
				width: 6em;
				margin: 0 10px 10px 0;
				padding: 5px;
				text-align: center;
				font-size: 10px;
				&.none {
					background: #e3e3e3;
				}
				&.news {
					background: #e3efef;
				}
				&.column {
					background: #efe3ec;
				}
				&.cat-c {
					background: #efefe3;
				}
				&.ymd {
					display: inline;
					float: none;
					padding: 0 5px;
					font-size: 13px;
					color: #999;
				}
			}
		}
	}
}