/*

  _spacing.scss

  - 全てのClassi名には接頭語 tl- を付与します。

*/


/**********

クラス定義

**********/

.tl-block {
  display: block;
}

.tl-full-width {
  width: 100%;
  height:auto;
}

.tl-full-height {
  height:100%;
}

.tl-center {
  display: block;
  margin-right:auto;
  margin-left:auto;
}

.tl-tac {
  text-align: center!important;
}

.tl-tal {
  text-align: left!important;
}

.tl-tar {
  text-align: right!important;
}

.tl-fwb {
  font-weight: bold;
}

.tl-relative {
  position: relative;
}

.tl-absolute {
  position: absolute;
}

/**********

フォントファミリー指定

// Notosansを使用する場合は追記してください。

**********/

.tl-min {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
}

.tl-go {
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}

.tl-maru {
  font-family: "Hiragino Maru Gothic ProN", "HG丸ｺﾞｼｯｸM-PRO", HGMaruGothicMPRO, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}

/**********

フォントサイズループ

フォントサイズの変更が必要な場合はこちらから変更できます。

**********/

@for $i from 1 through 50 {
  .tl-fz#{$i} {
    font-size: #{$i}px!important;
  }
}

@for $i from 1 through 20 {
  .tl-fz#{$i}e {
    font-size: $i * .1em!important;
  }
}

@for $i from 1 through 20 {
  .tl-fz#{$i}r {
    font-size: $i * .1rem!important;
  }
}

/**********

可変フォントサイズループ

rsfz *****
Small : 1
Medium : 1.05
Large : 1.12
xLarge : 1.3
のサイズで変化するフォントサイズ指定です。

rfz *****
Small : 1
Medium : 1.1
Large : 1.2
xLarge : 1.5
のサイズで変化するフォントサイズ指定です。

fbfz ****
Small : 1
Medium : 1.17
Large : 1.4
xLarge : 2
のサイズで変化するフォントサイズ指定です。

**********/

@for $i from 1 through 30 {
  .tl-rsfz#{$i} {
    font-size: $i * 1px !important;
    @include breakpoint(medium) {
      font-size: $i * 1.05px !important;
    }
    @include breakpoint(large) {
      font-size: $i * 1.12px !important;
    }
    @include breakpoint(xlarge) {
      font-size: $i * 1.3px !important;
    }
  }
}

@for $i from 1 through 30 {
  .tl-rfz#{$i} {
    font-size: $i * 1px !important;
    @include breakpoint(medium) {
      font-size: $i * 1.1px !important;
    }
    @include breakpoint(large) {
      font-size: $i * 1.2px !important;
    }
    @include breakpoint(xlarge) {
      font-size: $i * 1.5px !important;
    }
  }
}

@for $i from 1 through 30 {
  .tl-rlfz#{$i} {
    font-size: $i * 1px !important;
    @include breakpoint(medium) {
      font-size: $i * 1.17px !important;
    }
    @include breakpoint(large) {
      font-size: $i * 1.4px !important;
    }
    @include breakpoint(xlarge) {
      font-size: $i * 2px !important;
    }
  }
}

/**********

Margin

0〜100pxまでをサポートします。

**********/
@for $i from 0 through 100 {
  //margin
  .tl-m#{$i} {
    margin: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mt#{$i} {
    margin-top: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-ml#{$i} {
    margin-left: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mr#{$i} {
    margin-right: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mb#{$i} {
    margin-bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mtb#{$i} {
    margin-top: #{$i}px!important;
    margin-bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mbt#{$i} {
    margin-top: #{$i}px!important;
    margin-bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mlr#{$i} {
    margin-left: #{$i}px!important;
    margin-right: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-mrl#{$i} {
    margin-left: #{$i}px!important;
    margin-right: #{$i}px!important;
  }
}

/**********

Padding

0〜100pxまでをサポートします。

**********/
@for $i from 0 through 100 {
  //padding
  .tl-p#{$i} {
    padding: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-pt#{$i} {
    padding-top: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-pl#{$i} {
    padding-left: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-pr#{$i} {
    padding-right: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-pb#{$i} {
    padding-bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-ptb#{$i} {
    padding-top: #{$i}px!important;
    padding-bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-pbt#{$i} {
    padding-top: #{$i}px!important;
    padding-bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-plr#{$i} {
    padding-left: #{$i}px!important;
    padding-right: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-prl#{$i} {
    padding-left: #{$i}px!important;
    padding-right: #{$i}px!important;
  }
}

/**********

Position調整

0〜50pxまでサポートします。

**********/
@for $i from 0 through 100 {
  .tl-t#{$i} {
    position: relative;
    top: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-b#{$i} {
    position: relative;
    bottom: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-left#{$i} {
    position: relative;
    left: #{$i}px!important;
  }
}
@for $i from 0 through 100 {
  .tl-r#{$i} {
    position: relative;
    right: #{$i}px!important;
  }
}

/* end _spacing.scss */