// .size-shrinkの実装
@each $breakpoint in $breakpoint-classes {
  .#{$breakpoint}-shrink {
    @include breakpoint($breakpoint) {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
}

// ContactForm7の初期化
[type='text'], [type='select'], [type='password'], [type='date'], [type='datetime'],
[type='datetime-local'], [type='month'], [type='week'], [type='email'],[type='confirm_email'],
[type='number'], [type='search'], [type='tel'], [type='time'],
[type='url'], [type='color'], textarea,select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 2.4375rem;
	padding: 0.5rem;
	border: 1px solid #cacaca;
	margin: 0.2rem 0;
	font-family: inherit;
	font-size: 1rem;
	color: #0a0a0a;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	border-radius: 0;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.wpcf7-form {
	.form-info {
		font-size: 0.9em;
		padding: 10px;
	}
	.req {
		font-size: 0.8rem;
		font-weight: bold;
		color: #fff;
		background-color: #e11;
		padding: 0.1rem 0.3rem;
		border-radius: 0.5em;
	}
	table {
		tbody {
			tr {
				th {
					text-align:left;
					.req {
						float:right;
						&::after {
							clear: both;
						}
					}
				}
			}
		}
	}
	.submit {
		input {
			display: block;
			font-size: 1.2rem;
			padding: 1rem 3rem;
			background-color: transparent;
			border: 1px solid  #ccc;
			margin: 1rem auto;
			transition:0.2s;
			&:hover {
				transition: 0.2s;
				background-color: #aaa;
				border-color: #aaa;
				color: #fff;
			}
		}
	}
}