/* _spacing.scss */
@for $i from 1 through 10 {

	//margin
	.mt#{$i} {
		margin-top: #{$i}rem;
	}
	.ml#{$i} {
		margin-left: #{$i}rem;
	}
	.mr#{$i} {
		margin-right: #{$i}rem;
	}
	.mb#{$i} {
		margin-bottom: #{$i}rem;
	}
	.mtb#{$i} {
		margin-top: #{$i}rem;
		margin-bottom: #{$i}rem;
	}
	.mbt#{$i} {
		margin-top: #{$i}rem;
		margin-bottom: #{$i}rem;
	}
	.mlr#{$i} {
		margin-left: #{$i}rem;
		margin-right: #{$i}rem;
	}
	.mrl#{$i} {
		margin-left: #{$i}rem;
		margin-right: #{$i}rem;
	}

	//padding
	.pt#{$i} {
		padding-top: #{$i}rem;
	}
	.pl#{$i} {
		padding-left: #{$i}rem;
	}
	.pr#{$i} {
		padding-right: #{$i}rem;
	}
	.pb#{$i} {
		padding-bottom: #{$i}rem;
	}
	.ptb#{$i} {
		padding-top: #{$i}rem;
		padding-bottom: #{$i}rem;
	}
	.pbt#{$i} {
		padding-top: #{$i}rem;
		padding-bottom: #{$i}rem;
	}
	.plr#{$i} {
		padding-left: #{$i}rem;
		padding-right: #{$i}rem;
	}
	.prl#{$i} {
		padding-left: #{$i}rem;
		padding-right: #{$i}rem;
	}
}

/* / _spacing.scss */